#features{
    & .cards{
        grid-template-columns: 17.5rem 1fr 1fr 17.5rem; /* Criando 4 colunas, 2 fixas e 2 adaptaveis*/
        grid-template-rows: 25rem 25rem;
        gap: 2rem;
    }
    
    & .card { /* COnfigurações gerais das cards (ajuda a fazer as que tem imagens) */
        position: relative;
        overflow: hidden;

        & img.desktop-only{
            position: absolute;
            max-width: 15rem;
        }
    }

    & .card:nth-child(1){
        grid-column: 1/2;
    }

    & .card:nth-child(2) { /* Selecionando o segundo elemento que tenha a class card.*/
        grid-column: 2/4 ; /*Determinando que o 2 elemento começa na linha 2 e termina na linha 4*/

        & > div{ /* Selecionando a 1era div dentro da 2nd card*/
            max-width: 16rem;
        }
        
        & .desktop-only{ /*Posicionando a imagem a 2rem de baixo e da direita.*/
            bottom: 2rem;
            right: 2rem;
            /* Filter permite modificar as imagens */
            filter: drop-shadow(1rem 1rem 4rem rgb(0 0 0 / 0.34)); /* No caso estamos adicionando sombras. 0 0 tamanha 0 espalhamento e rgb*/
        }
    }

    & .card:nth-child(3){
        grid-column: 4/5;
    }

    & .card:nth-child(4) { 
        grid-column: 1/3 ; 
        grid-row: 2/3; /* Posicionando ele na linha de baixo */

        & > div{ 
            max-width: 16rem;
            margin-left: auto;
        }
        
        & .desktop-only{ 
            bottom: 2rem;
            left: 2rem;
            filter: drop-shadow(1rem 1rem 4rem rgb(0 0 0 / 0.34));
        }
    }

    & .card:nth-child(5) { 
        grid-column: 3/5 ; 
        grid-row: 2/3;

        & > div{ 
            max-width: 16rem;
        }
        
        & .desktop-only{ 
            top: 2rem;
            right: 2rem;
            filter: drop-shadow(1rem 1rem 4rem rgb(0 0 0 / 0.34));
        }
    }
}