@import url(./Global.css);
@import url(./utility.css);
@import url(./buttons.css);
@import url(./social.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./sections.css);
@import url(./about.css);
@import url(./cards.css);
@import url(./features.css)(width >= 80em); /*Os estilos do features ja são aplicados apenas para desktop, logo, é desnecesario importalo num celular. Então colocamos uma condição diretamente no import em vez de colocar @media no features.*/
@import url(./pricing.css);
@import url(./download.css);