
/* Colocando Fundo na versão celular.*/
#smartphone-img{
    margin-top: 5rem;

    background: url(./assets/ilustration.svg) top/cover;
}

section{
    & header{
        & strong {
            display: block;
            font: var(--fw-md) var(--fs-sm) var(--ff-sans);
            letter-spacing: 0.08rem;
            text-transform: uppercase;

            color: var(--brand-color-primary);
        }
        & h2 {
            margin-top: .5rem;
        }

        & p{
            margin-top: .5rem;
            color: var(--text-color-second);
        }
    }
}

/*Retirando o fundo da versão celular na versão de desktop*/
@media (width >= 80em ){
    #smartphone-img{
        display: none;
    }
}