/* Estou definindo aqui classes, ou seja objetos com as mesmas propriedades.*/

.py-base {
    padding-block: var(--py-base);
}

.py-lg {
    padding-block: var(--py-lg);
}

.py-xl {
    padding-block: var(--py-xl);
}

.px-lg {
    padding-inline: var(--px-lg);
}

.container {
    --max-width: 375px;
    /* A partir do momento que for menor que 375px, vamos pedir para ele pegar 100% do espaço, mas desconsiderando o padding. Ou seja quando estivermos em um aparelho com 375px o calculo vai ser menor que 375px e vai passar a ser usado.*/
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: auto;
}

.desktop-only{
    display: none;
}

/* Permite você colocar elementos um ao lado do outro em desktop e um em baixo do outro em mobile*/
.even-columns{
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-1{
    gap: 1rem;
}

@media (width >= 80em){
    .container {
        --max-width: 80rem;
    }

    .desktop-only{
        display: initial;
    }

    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}